<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgdcgd.cc.mapper.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.cgdcgd.cc.entity.Supplier">
    <!--@mbg.generated-->
    <!--@Table Supplier-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="agency_type" jdbcType="INTEGER" property="agencyType" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, code, short_name, agency_type, contacts, phone, create_time, create_user,
    update_time, update_user, `state`
  </sql>

  <select id="getSupplier" resultMap="BaseResultMap">
    select    id, `name`, code, short_name, agency_type, contacts, phone, create_time, create_user,
              update_time, update_user, `state` from Supplier
    <where>
      <if test="req.name != null">
        name like '%${req.name}%'
      </if>

      <if test="req.agencyType != null">
        and agency_type = #{req.agencyType}
      </if>

      <if test="req.shortName != null">
        and short_name like '%${req.shortName}%'
      </if>

      <if test="req.state != null">
        and state  = #{req.state}
      </if>
    </where>
    </select>
</mapper>
