<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springdemo.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.example.springdemo.entity.Student">
        <!--@mbg.generated-->
        <!--@Table Student-->
        <id column="s_id" jdbcType="VARCHAR" property="sId" />
        <result column="s_name" jdbcType="VARCHAR" property="sName" />
        <result column="s_brith" jdbcType="VARCHAR" property="sBrith" />
        <result column="s_sex" jdbcType="VARCHAR" property="sSex" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        s_id, s_name, s_brith, s_sex
    </sql>
</mapper>
